.body {
  grid-area: body;
}

.body__about-project {
  display: flex;
  background: #545454;
  height: 400px;
}

.about-project_about {
  font-size: 2.5em;
  text-align: left;
  margin-left: 10%;
}

.about-project_about span{
  font-weight: bold;
}

.about-project_screenshot img {
  width: 80%;
  margin-top: 3%;
}

.about-project_p {
  font-size: 0.6em;
  color: #C9C9C9;
  margin-bottom: 10px;
}
.about-project_button {
  font-size: 0.5em;
  font-weight: 600;
  padding: 13px;
  margin: 0;
}

.body__examples {
  text-align: left;
  margin-left: 25%;
}

.body__examples p {
  color: #eaeaea;
}

.body__examples_images{
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.body__examples_images img{
  border: 4px solid #eaeaea;
  border-radius: 4px;
}


/* functional overview */
.body__func-overview {
  display: flex;
  margin: 70px 0;
  margin-left: 16%;
}

.body__func-overview_left {
  margin-right: 5px;
}

.body__func-overview_left__item {
  display: flex;
  text-align: right;
}

.body__func-overview_left__item .item_describe {
  margin-right: 15px;
}

.body__func-overview_right {
  margin-left: 5px;
}

.body__func-overview_right__item {
  display: flex;
  text-align: left;
}

.body__func-overview_right__item .item_describe{
  margin-left: 15px;
}

.body__func-overview_left__item img,
.body__func-overview_right__item img {
  height: 100px;
  border: 3px solid #eaeaea;
  border-radius: 3px;
}
